<div>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>SEAL Stack</h1>
    <p>A Fullstack JavaScript framework using SQLite, Electron, Angular, and LoopBack.</p>
    <p><a class="btn btn-success" href="https://github.com/canallc/sqlite-electron-angular-loopback"><i class="fa fa-github" aria-hidden="true"></i> View on GitHub</a></p>
  </div>


  <div class="page-header no-bottom-border">
    <h1>SEAL stands for:</h1>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="tech-image-container">
        <a href="http://sqlite.org/" title="SQLite"><img src="./img/sqlite.png" class="tech-image"/></a>
      </div>
      <div class="tech-description">
        <a href="http://sqlite.org/" title="SQLite">SQLite</a> is a self-contained, high-reliability, embedded, full-featured, public-domain, SQL database engine. SQLite is the most used database engine in the world.
      </div>
    </div>
    <div class="col-md-3">
      <div class="tech-image-container">
        <a href="https://electronjs.org/" title="Electron"><img src="./img/electron.svg" class="tech-image"/></a>
      </div>
      <div class="tech-description">
        <a href="https://electronjs.org/" title="Electron">Electron</a> is a framework for creating native applications with web technologies like JavaScript, HTML, and CSS. It takes care of the hard parts so you can focus on the core of your application.
      </div>
    </div>
    <div class="col-md-3">
      <div class="tech-image-container">
        <a href="https://angular.io/" title="Angular"><img src="./img/angular.svg" class="tech-image"/></a>
      </div>
      <div class="tech-description">
        <a href="https://angular.io/" title="Angular">Angular</a> lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
      </div>
    </div>
    <div class="col-md-3">
      <div class="tech-image-container">
        <a href="https://loopback.io/" title="LoopBack"><img src="./img/loopback.png" class="tech-image electron-image"/></a>
      </div>
      <div class="tech-description">
        <a href="https://loopback.io/" title="LoopBack">Loopback</a> is a highly-extensible, open-source Node.js framework.
      </div>
    </div>
  </div>

  <div class="page-header no-bottom-border">
    <h1>Get SEAL by running:</h1>
  </div>

  <pre>
  $ git clone https://github.com/canallc/sqlite-electron-angular-loopback.git
  $ cd sqlite-electron-angular-loopback
  $ npm install && npm start</pre>
</div>
