html {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  font-size: 16px;
  padding-bottom: 180px;
  min-height: 100%;
  position: relative;
}
a, a:hover, a:focus {
  color: #0f96ba;
  text-decoration: none;
}

/* .theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
} */

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #0f96ba;
}

.no-bottom-border {
  border-bottom: 0 !important;
}

.block {
  display: block;
}

.padding-top-10 {
  padding-top: 10px;
}

.tech-image-container {
  height: 220px;
  text-align: center;
}

.tech-image {
  height: 200px;
}

.tech-description {
  padding-bottom: 30px;
}

.electron-image {
  border-radius: 8px;
}

.footer {
  padding-top: 20px;
  background-color: #ccc;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.cana-logo {
  height: 80px;
}
